*{
    padding:5px;
}
body{
    background-color: rgba(211, 196, 196, 0.37);
    padding: 10px;
}
.head{
    text-align: center;
    font-family: "Bahnschrift SemiBold ";
}
.title{
    text-align: center;
    font-family: "Bahnschrift SemiBold";
    background-color: darkgray;
    font-size:20px;
}

mark{
    background-color:rgb(82, 56, 56);
    color: white;
    font-family: Bahnschrift SemiBold;
}
.heading{
    color: white;
    font-family: Bahnschrift SemiBold;
}
#btn{
    background-color:orangered;
}
a{
    text-decoration:none;
    color:white;
    text-transform: capitalize;
}
#btn:hover{
    background-color:green;
}